<div id="map"></div>



<!-- var map = L.map('map').setView([51.505, -0.09], 13);


var popup = L.popup();
.setContent("You clicked the map at " + e.latlng.toString())
.openOn(map);

items

Geomonkey
a user can create a survey or poll
a user can send out the survey or poll
a user can respond to a survey  or poll by email or cellphone
a user can view respondents of a survey or poll on a map
a user can login and has different roles, respondent or surveyor
a surveyor can view an overview of the results of all his surveys
a respondent can view the results of a survey he answered


To Do
create map canvase
set up database and migrations
  person (has many responses)
                (has many surveys/polls)

  poll (has many) -->